@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap");
body {
  font-family: "Noto Sans", sans-serif !important;
}
.titlebold {
  font-weight: 600;
}
.logodev {
  height: 18px;
}
.font14 {
  font-size: 14px;
}
.log__container {
  max-width: 700px !important;
}
.avatar {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
@media (min-width: 600px) {
  .logodev {
    height: 40px;
  }
  .avatar {
    width: 100px;
    height: 100px;
  }
}
